.card {
	border: 1px solid var(--c-border);
	display: grid;
	grid-template-columns: 330px;
	grid-template-rows: 200px 130px 20px;
	height: 402px;
	place-content: center;
	row-gap: 16px;
	width: 350px;
}

.card_images {
	background-color: #E5F4FF;
	border-radius: 5px;
	grid-column: 1;
	grid-row: 1;
	height: 200px;
	object-fit: contain;
	place-self: center;
	width: 330px;
}

.card_content {
	display: grid;
	grid-column: 1;
	grid-row: 2;
}

.card_content>*:nth-child(1) {
	align-items: center;
	display: inline-flex;
	justify-content: space-between;
	margin-bottom: 8px;
}

.card_text {
	color: var(--c-black-20);
	font-size: 14px;
}

.card_footer {
	display: inline-flex;
	font-size: 12px;
	font-weight: 400;
	grid-column: 1;
	grid-row: 3;
	justify-content: space-between;
}

.card_footer span {
	color: var(--c-black-20);
}

.card_footer a {
	display: inline-flex;
	text-decoration: none;
}