.cards {
  display: grid;
  gap: 33px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  width: 1116px;
}


@media(width<=1164px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    width: 980px;
  }
}


@media(width<=1000px) {
  .cards {
    gap: 20px;
    width: 700px;
  }
}


@media(width<=750px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 550px;
  }
}


@media(width<=570px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 350px;
  }
}