.post {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	place-items: start;
	width: 643px;

}

.post__title1 {}



.post__description {
	align-items: center;
	display: flex;
}



.description {}

.post__svg {
	left: -24px;
	position: relative;

}

.post__content {
	color: var(--c-black-20);
	font-size: 18px;
	line-height: 32px;
	vertical-align: middle;
}

.post__title2 {}