.description_courses {
	align-items: center;
	color: var(--c-black-20);
	display: flex;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
	gap: 6px;
}

.description_courses>:first-child {
	color: var(--c-black-30);
}



/* .description_courses>*:not(:last-child)::after {} */

.description_courses>*::after {
	align-items: center;
	content: '•';
	display: inline-flex;
	height: 1em;
	justify-content: center;
	margin-left: 6px;
	opacity: 1;
	vertical-align: middle;
}

/* Модификатор для скрытия последнего bullet */
.description_courses[data-point="hide-last"]>*:last-child::after {
	display: none;
}