.header {
	display: flex;
	justify-content: space-between;
	margin: 8px auto 17px;
	place-items: center;
	width: 1126px;


	font-weight: 300;
	font-style: Light;
	font-size: 40px;

	line-height: 100%;

}



@media(width <=1164px) {
	.header {
		width: 980px;
	}
}


@media(width<=1000px) {
	.header {
		width: 700px;
	}
}


@media(width<=750px) {
	.header {
		width: 350px;
	}
}