.header {
	display: flex;
	justify-content: space-between;
	margin: 8px auto 17px;
	place-items: center;
	width: 1126px;
}

.header button {
	background-color: white;
	border: none;
	cursor: pointer;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media(max-width:1164px) {
	.header {
		width: 980px;
	}
}

/* stylelint-disable-next-line media-feature-range-notation */
@media(max-width:1000px) {
	.header {
		width: 700px;
	}
}

/* stylelint-disable-next-line media-feature-range-notation */
@media(max-width:750px) {
	.header {
		width: 350px;
	}
}