.header {
	display: flex;
	justify-content: space-between;
	margin: 8px auto 17px;
	place-items: center;
	width: 1126px;
}

.header__btn {
	background-color: white;
	border: none;
	cursor: pointer;
}


@media(width <=1164px) {
	.header {
		width: 980px;
	}
}


@media(width<=1000px) {
	.header {
		width: 700px;
	}
}


@media(width<=750px) {
	.header {
		width: 350px;
	}
}