.like {
	background: transparent;
	cursor: pointer;
	z-index: 1;
}


.like--small {
	border: none;
}

.like--big {
	border: 1px solid #303030;
	border-radius: 40px;
	height: 48px;
	width: 48px;
}

.like--small .like_icon {
	pointer-events: none;
	z-index: 0;
}

.like--small--active .like_icon {
	fill: rgb(42 127 231 /40%);
	stroke: black;
	stroke-opacity: 0.4;
	stroke-width: 1px;
}

.like--big--active {
	background: #303030;
	stroke: white;
	stroke-width: 1px;
	stroke-width: 2;

}

.like--big--active .like_icon {
	stroke: white;
}


.like--small .like_count {
	color: var(--c-black-20);
	margin-right: 4px;
}